<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="end">
      <ion-button class="actions-button" (click)="closeModal()">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Acciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="task-item" (click)="action('delete')">
      <ion-icon name="trash-outline" slot="start" class="task-icon"></ion-icon>
      <ion-label class="task-label">Borrar</ion-label>
    </ion-item>
    <ion-item class="task-item" (click)="action('cancel')">
      <ion-icon name="close-outline" slot="start" class="task-icon"></ion-icon>
      <ion-label class="task-label">Cancelar</ion-label>
    </ion-item>
  </ion-list>
</ion-content>