.initials {
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1f5178;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1px;
}
