<ion-content>
  <div class="cover">
    <div class="menu-button">
      <ion-menu-toggle>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-toggle>
    </div>
    <div class="welcome-message">
      <h2>Gestion de Gastos</h2>
    </div>
  </div>

  <!-- Contenido tabla -->
  <div class="button-controls">
    <div class="search-button" (click)="toggleSearch()">
      <ion-icon name="search-outline"></ion-icon>
    </div>
    <div class="search-input" [class.visible]="searchVisible">
      <ion-input show-clear-button="always" placeholder="Buscar gastos" [(ngModel)]="searchTerm" (ngModelChange)="searchFinance(searchTerm)"></ion-input>
    </div>
    <div class="add-button" [routerLink]="['/add-expenses']">
      <h1>NEW</h1>
    </div>
  </div>
  
  <div class="scrollable-container">
    <table class="details-table">
      <thead>
        <tr>
          <th (click)="sortTable('name')"><ion-icon name="text-outline"></ion-icon> Título</th>
          <th (click)="sortTable('type')"><ion-icon name="ellipsis-vertical-outline"></ion-icon> Tipo</th>
          <th (click)="sortTable('amount')"><ion-icon name="cash-outline"></ion-icon> Monto</th>
          <th (click)="sortTable('date')"><ion-icon name="calendar-clear-outline"></ion-icon> Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let finance of filteredFinance" (click)="openFinance(finance)">
          <td class="title-row" (click)="openFinance(finance)">{{ finance.name ?? 'Untitled'}} <span class="button-title">VER</span></td>
          <td>{{ finance.type_expense ?? '' }}</td>  
          <td>{{ finance.amount }}</td>   
          <td>{{ finance.date | date: 'dd MMMM' }}</td> 
        </tr>
        <tr class="add-row" [routerLink]="['/add-expenses']">
          <td colspan="4"><ion-icon name="add-outline"></ion-icon> Agregar un nuevo gasto</td>
        </tr>
      </tbody>
    </table>
  </div>  
</ion-content>

<div class="custom-tab-bar">
  <div class="tab-button" data-view="savings-view" (click)="navigateTo('/finance')" routerLinkActive="selected">
    <ion-icon name="wallet-outline"></ion-icon>
    <span>Ahorros</span>
  </div>
  <div class="tab-button active" data-view="expenses-view" (click)="navigateTo('/expenses')" routerLinkActive="selected">
    <ion-icon name="trending-down-outline"></ion-icon>
    <span>Gastos</span>
  </div>
  <div class="tab-button" data-view="income-view" (click)="navigateTo('/income')" routerLinkActive="selected">
    <ion-icon name="trending-up-outline"></ion-icon>
    <span>Ingresos</span>
  </div>
</div>
