<ion-content>
  <div class="cover">
    <div class="menu-button">
      <ion-menu-toggle>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-toggle>
    </div>
    <div class="welcome-message">
      <h2>Gestion de Gastos</h2>
    </div>    
  </div>
</ion-content>

<div class="custom-tab-bar">
  <div class="tab-button" data-view="savings-view" (click)="navigateTo('/finance')" routerLinkActive="selected">
    <ion-icon name="wallet-outline"></ion-icon>
    <span>Ahorros</span>
  </div>
  <div class="tab-button active" data-view="expenses-view" (click)="navigateTo('/expenses')" routerLinkActive="selected">
    <ion-icon name="trending-down-outline"></ion-icon>
    <span>Gastos</span>
  </div>
  <div class="tab-button" data-view="income-view" (click)="navigateTo('/income')" routerLinkActive="selected">
    <ion-icon name="trending-up-outline"></ion-icon>
    <span>Ingresos</span>
  </div>
</div>
