<ion-content>
  <div class="cover">
    <div class="menu-button">
      <ion-menu-toggle>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-toggle>
    </div>
    <div class="profile-image">
      <app-initials-avatar [fullName]="user?.displayName || 'W P'" [routerLink]="'/config'"></app-initials-avatar>
    </div>    
    <div class="welcome-message">
      <h2>Hola, {{ (user?.displayName?.split(' ') || [])[0] }}</h2>
    </div>    
  </div>

  <div class="home-container">
    <!-- Plan financiero -->
    <div class="section-header">
      <h3>Plan financiero</h3>
      <a href="/finance">Ver detalles</a>
    </div>
    <div class="card">
      <div class="card-content">
        <ion-icon name="wallet-outline" class="card-icon"></ion-icon>
        <h4>Total Detalle</h4>
        <h6>{{ selectedDate | date: 'LLLL' }}</h6>
      </div>
      <div class="card-info">
        <div class="chart-container">
          <div class="info-message" *ngIf="!hasChartData">
            No hay datos de ingresos y gastos disponibles
          </div>
        </div>
        <div class="totals-container">
          <div class="total-expenses">
            <h6>Gastos</h6>
            <p><span class="currency">RD$ </span><b>{{ totalExpenses | number: '1.2-2' }}</b></p>
          </div>
          <div class="total-income">
            <h6>Ingresos</h6>
            <p><span class="currency">RD$ </span><b>{{ totalIncomes | number: '1.2-2' }}</b></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Gestión de tareas -->
    <div class="section-header">
      <h3>Gestión de tareas</h3>
      <a href="/tasks">Ver todas</a>
    </div>
    <div class="task-buttons">
      <div class="task-button-wrapper" [routerLink]="['/tasks']">
        <button class="task-button">
          <ion-icon name="list-outline"></ion-icon>
        </button>
        <p>Lista</p>
      </div>
      <div class="task-button-wrapper" [routerLink]="['/add-tasks']">
        <button class="task-button">
          <ion-icon name="add-outline"></ion-icon>
        </button>
        <p>Agregar</p>
      </div>
    </div>

    <!-- Gestión de notas -->
    <div class="section-header">
      <h3>Gestión de notas</h3>
    </div>
    <div class="card">
      <div class="card-content">
        <ion-icon name="document-outline" class="card-icon"></ion-icon>
        <h4>Notas</h4>
        <h6>{{ selectedDate | date: 'LLLL' }}</h6>
      </div>
      <div *ngFor="let event of upcomingEvents" class="event-item">
        <span class="event-date">{{ event.dueDate | date: 'shortDate' }}</span>
        <span class="event-title">{{ event.title }}</span>
        <button class="button-time">Ver</button>
      </div>
    </div>
  </div>
</ion-content>
