ion-content {
  --background: #ffffff;

  .cover {
    position: relative;
    height: 135px;
    width: 100%;
    background-image: url("/assets/img/pexels-images/pexels_7.jpg");
    background-size: cover;
    background-position: right;
    border-radius: 0px;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: inset 0 -4px 8px rgba(0, 0, 0, 0.04);
  }

  .menu-button {
    cursor: pointer;
    position: absolute;
    top: 38px;
    left: 15px;

    ion-icon {
      font-size: 28px;
      color: #ffffff;
    }
  }

  .profile-image {
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }

  .welcome-message {
    margin-top: 20px;
    text-align: left;

    h2 {
      color: #ffffff;
      padding-top: 35px;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .home-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    h3 {
      font-size: 13px;
      font-weight: 400;
      color: #000000;
      margin: 0;
    }

    a {
      font-size: 12px;
      color: #1f5178;
      text-decoration: none;
    }
  }

  .card {
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    border: 1px solid rgba(84, 84, 84, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
  }

  .card-icon {
    font-size: 14px;
    font-weight: 800;
    color: #1f5178;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 8px;
  }

  .card h4 {
    font-family: "Roboto", sans-serif;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    margin: 0;
  }

  .card h6 {
    font-family: "Nunito", sans-serif;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #abadaf;
    margin: 0;
  }

  .card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .chart-container {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .financial-chart {
    width: 80px;
    height: 80px;
  }

  .totals-container {
    width: 50%;
    display: flex;
    margin-left: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .total-expenses,
  .total-income {
    p {
      font-size: 14px;

      .currency {
        font-family: "Nunito", sans-serif;
        font-size: 12px;
      }
    }

    h6 {
      font-family: "Nunito", sans-serif;
      font-size: 12px;
      font-weight: 400;
      color: #abadaf;
      padding: 0;
      margin: 0;
    }
  }

  /* ... */
  .task-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
  }

  .task-button-wrapper {
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    align-items: center;
  }

  .task-button {
    width: 43px;
    height: 43px;
    background-color: #1f5178;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .task-button ion-icon {
    font-size: 18px;
    color: #ffffff;
  }

  .task-button-wrapper p {
    font-family: "Nunito", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    margin: 0;
    text-align: center;
    margin-top: 4px;
  }
  /* ... */

  .event-item {
    display: flex;
    align-items: center;
    margin-top: 14px;
  }

  .event-item .event-title {
    font-family: "Nunito", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #000000;
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .event-item .event-date {
    font-size: 12px;
    margin-right: 10px;
    color: #abadaf;
    font-weight: 500;
  }

  .button-time {
    width: 60px;
    height: 30px;
    background-color: #1f5178;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-left: auto;
    font-size: 12px;
    color: #ffffff;
  }

  .info-message {
    width: 100%;
    margin-left: 140px;
    text-align: center;
    color: #abadaf; // Cambiar el color del texto aquí, si lo deseas
    margin-top: 2rem; // Ajusta el padding si es necesario
  }
}
